.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    position: relative;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.all-pages-container {
    height: 100%;
    display: flex;
    width: fit-content;
    position: relative;
    z-index: 10;
    transition: translate;
    transition-property: transform;
    /* transition-duration: 300ms; */
    transition-timing-function: ease-in-out;
}

.arrow {
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    fill: #FFFFFFE6;
    transition: 300ms;
}

.arrow:hover {
    opacity: 1;
}

.left-arrow {
    padding-left: 2vw;
}

.right-arrow {
    padding-right: 2vw;
}

.exit {
    position: absolute;
    top: 2vh;
    right: 2vw;
}